<a href="https://colab.research.google.com/github/MSSfusiqi/Movie-Recommender-system/blob/master/movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preloading

## Link Google Drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Install Packages

In [0]:
! pip uninstall -y tensorflow
! pip install -q -U tensorflow-gpu==1.15.0

Uninstalling tensorflow-1.15.0:
  Successfully uninstalled tensorflow-1.15.0
     |████████████████████████████████| 377.0MB 46kB/s
     |████████████████████████████████| 3.2MB 24.9MB/s
     |████████████████████████████████| 491kB 50.7MB/s

## Import Packages

In [0]:
import numpy as np
import pandas as pd
from ast import literal_eval
from scipy.sparse import csr_matrix

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import jaccard_score
from sklearn.model_selection import train_test_split


# Import Keras libraries
import tensorflow as tf
from keras.callbacks import Callback, EarlyStopping, ModelCheckpoint
from keras.layers import Embedding, Reshape, dot, Input
import keras

Using TensorFlow backend.

## Assign GPU

In [0]:
tf.config.experimental.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [0]:
import os
from keras import backend as K

tf.config.experimental.list_physical_devices('GPU') 
# Assign GPU
os.environ['CUDA_VISIBLE_DEVICES'] ='0'
#CONFIG MEMORY USAGE
config = tf.ConfigProto() #device_count = {'GPU':1} 
config.gpu_options.allow_growth = True
session = tf.Session(config=config)
K.set_session(session)

# Exploration on small dataset

In [0]:
tmdb_5000_movies = pd.read_csv('/content/drive/My Drive/tmdb_5000_movies.csv.zip')
tmdb_5000_credits = pd.read_csv('/content/drive/My Drive/tmdb_5000_credits.csv.zip')

# Parse the stringified features into their corresponding python objects
f_clean_movies = ['genres','production_companies','production_countries','spoken_languages','keywords']
f_clean_credits = ['cast','crew']
for f in f_clean_movies:
    tmdb_5000_movies[f] = tmdb_5000_movies[f].apply(literal_eval)
for f in f_clean_credits:
    tmdb_5000_credits[f] = tmdb_5000_credits[f].apply(literal_eval)

In [0]:
genome_tags = pd.read_csv('/content/drive/My Drive/genome-tags.csv')
genome_scores = pd.read_csv('/content/drive/My Drive/genome-scores.csv')
links = pd.read_csv('/content/drive/My Drive/links.csv')
movies = pd.read_csv('/content/drive/My Drive/movies.csv')
ratings = pd.read_csv('/content/drive/My Drive/ratings.csv')
tags = pd.read_csv('/content/drive/My Drive/tags.csv')

In [0]:
movies_metadata.head()

In [0]:
movies_metadata = pd.read_csv('/content/drive/My Drive/movies_metadata.csv.zip')
keywords = pd.read_csv('/content/drive/My Drive/keywords.csv.zip')
credits = pd.read_csv('/content/drive/My Drive/credits.csv.zip')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
movies_metadata.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [0]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [0]:
credits.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

## Dataframe Preparation

In [0]:
#merge two df
tmdb_5000 = pd.merge(tmdb_5000_movies,tmdb_5000_credits,left_on='id',right_on='movie_id',suffixes=('', '_y'))
#drop features we don't need 
to_drop = ['budget','homepage','original_language','original_title','status','title_y','id']
tmdb_5000.drop(to_drop,axis=1, inplace=True)

## Feature Engineering

### Functions

In [0]:
def get_top_n(x,n):
    """Returns the list top n elements or entire list; whichever is more.
    x: dataframe series
    n: top_n
    return: updated dataframe series
    """
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than n elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > n:
            names = names[:n]
        return names

    #Return empty list in case of missing/malformed data
    return []

# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [0]:
# top three for certain features
features_3 = ['cast', 'genres','production_companies','production_countries','spoken_languages']

for feature in features_3:
    tmdb_5000[feature] = tmdb_5000[feature].apply(get_top_n,args = (3,))

# top five for certain features
features_5 = ['keywords']
for feature in features_5:
    tmdb_5000[feature] = tmdb_5000[feature].apply(get_top_n,args = (5,))

In [0]:
tmdb_5000['director'] = tmdb_5000['crew'].apply(get_director)
tmdb_5000.drop('crew',axis = 1,inplace = True)

In [0]:
# Apply clean_data function to features.
features = ['cast', 'genres','production_companies','production_countries','spoken_languages','keywords','director']

for feature in features:
    tmdb_5000[feature] =tmdb_5000[feature].apply(clean_data)

In [0]:
# keep only release year for each movie
tmdb_5000['release_date'] = pd.to_datetime(tmdb_5000['release_date'])
tmdb_5000['release_year'] = tmdb_5000['release_date'].dt.year
tmdb_5000['release_year'] = tmdb_5000['release_year'].astype('Int64')
tmdb_5000.drop('release_date',axis = 1, inplace = True)

In [0]:
tmdb_5000.head()

                                genres  ... release_year
0         [action, adventure, fantasy]  ...         2009
1         [adventure, fantasy, action]  ...         2007
2           [action, adventure, crime]  ...         2015
3               [action, crime, drama]  ...         2012
4  [action, adventure, sciencefiction]  ...         2012

[5 rows x 17 columns]

## Content-based Recommendation

In [0]:
def metadata(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres']) +' '+ ' '.join('production_companies') +' '+ ' '.join('production_countries')+' '+' '.join('spoken_languages') 

# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim,df):
    # Get the index of the movie that matches the title
    #Construct a reverse map of indices and movie titles
    indices = pd.Series(df.index, index=df['title']).drop_duplicates()
    idx = indices[title]

    idx_mod = np.mod(idx,10000)
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx_mod]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [0]:
tmdb_5000['metadata'] = tmdb_5000.apply(metadata, axis=1)

In [0]:
tmdb_5000['metadata']

0       cultureclash future spacewar spacecolony socie...
1       ocean drugabuse exoticisland eastindiatradingc...
2       spy basedonnovel secretagent sequel mi6 daniel...
3       dccomics crimefighter terrorist secretidentity...
4       basedonnovel mars medallion spacetravel prince...
                              ...
4798    unitedstates–mexicobarrier legs arms paperknif...
4799     edwardburns kerrybishé marshadietlein edwardb...
4800    date loveatfirstsight narration investigation ...
4801     danielhenney elizacoupe billpaxton danielhsia...
4802    obsession camcorder crush dreamgirl drewbarrym...
Name: metadata, Length: 4803, dtype: object

In [0]:
#create the count matrix
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(tmdb_5000['metadata'])

In [0]:
# Compute the Cosine Similarity matrix based on the count_matrix
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [0]:
tmdb_5000[tmdb_5000['title'] =='Sherlock Holmes']

                         genres  ...                                           metadata
356  [action, adventure, crime]  ...  detective scotlandyard coffin blackmagic arres...

[1 rows x 18 columns]

In [0]:
get_recommendations('Sherlock Holmes',cosine_sim2,tmdb_5000)

205     Sherlock Holmes: A Game of Shadows
4638              Amidst the Devil's Wings
2156                            Nancy Drew
2625                   Kiss Kiss Bang Bang
2360                               Getaway
4068                             Sharkskin
4118                Hum To Mohabbat Karega
4314                             Crowsnest
4458                   Harrison Montgomery
4504               Light from the Darkroom
Name: title, dtype: object

# Large movie dataset

## Dataset Preparation

In [0]:
#customize literal_eval function
def literal_return(val):
    try:
        return literal_eval(val)
    except (ValueError, SyntaxError) as e:
        return val

In [0]:
movies_metadata = pd.read_csv('/content/drive/My Drive/movies_metadata.csv.zip')
keywords = pd.read_csv('/content/drive/My Drive/keywords.csv.zip')
credits = pd.read_csv('/content/drive/My Drive/credits.csv.zip')

f_clean_movies_meta = ['genres','production_companies','production_countries','spoken_languages']
f_clean_credits = ['cast','crew']

for f in f_clean_movies_meta:
    movies_metadata[f] = movies_metadata[f].apply(literal_return)

for f in f_clean_credits:
    credits[f] = credits[f].apply(literal_return)

keywords['keywords'] = keywords['keywords'].apply(literal_return)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
# top three for certain features
features_3 = ['genres','production_companies','production_countries','spoken_languages']
for feature in features_3:
    movies_metadata[feature] = movies_metadata[feature].apply(get_top_n,args = (3,))
movies_metadata['id'] = movies_metadata['id'].apply(literal_return)

credits['cast'] = credits['cast'].apply(get_top_n,args = (3,))
credits['director'] = credits['crew'].apply(get_director)
credits.drop('crew',axis = 1,inplace = True)

# top five for certain features
keywords['keywords'] = keywords['keywords'].apply(get_top_n,args = (5,))

In [0]:
#merge dataframes
movie = pd.merge(movies_metadata,credits, on='id',suffixes= ('','_y'))
movie = pd.merge(movie, keywords, on ='id',suffixes= ('','_y'))

#drop features we don't need 
to_drop = ['belongs_to_collection','budget','homepage','original_language','original_title','poster_path','status']
movie.drop(to_drop,axis=1, inplace=True)

In [0]:
# Apply clean_data function to features.
features = ['cast', 'genres','production_companies','production_countries','spoken_languages','director']

for feature in features:
    movie[feature] =movie[feature].apply(clean_data)

In [0]:
# keep only release year for each movie
movie['release_date'] = pd.to_datetime(movie['release_date'])
movie['release_year'] = movie['release_date'].dt.year
movie['release_year'] = movie['release_year'].astype('Int64')
movie.drop('release_date',axis = 1, inplace = True)

In [0]:
movie.head()

   adult  ... release_year
0  False  ...         1995
1  False  ...         1995
2  False  ...         1995
3  False  ...         1995
4  False  ...         1995

[5 rows x 20 columns]

In [0]:
movie['metadata'] = movie.apply(metadata, axis=1)

In [0]:
movie.to_csv('/content/drive/My Drive/movie_dataset.csv.gz',index=False,compression='gzip')

NameError: ignored

## Content-based Recommendation

### Cosine similarity

In [0]:
def metadata(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres']) +' '+ ' '.join('production_companies') +' '+ ' '.join('production_countries')+' '+' '.join('spoken_languages')

In [0]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title,df):
    # Get the index of the movie that matches the title
    #Construct a reverse map of indices and movie titles
    indices = pd.Series(df.index, index=df['title']).drop_duplicates()
    idx = indices[title]
    
    idx_mod = idx % 10000
    idx_div = idx // 10000
    
    #create the count matrix
    count = CountVectorizer(stop_words='english')
    count_matrix = count.fit_transform(df['metadata'])
    cosine_sim = cosine_similarity(count_matrix[idx_div*10000:idx_div*10000+10000],count_matrix)
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx_mod]))
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [0]:
movie = pd.read_csv('/content/drive/My Drive/movie_dataset.csv.gz')

In [0]:
movie.shape

(46628, 21)

In [0]:
movie[movie['title'] == 'Sense and Sensibility']

       adult  ...                                           metadata
16     False  ...  bowling based on novel servant country life ja...
28580  False  ...   hattiemorahan charitywakefield davidmorrissey...
41989  False  ...  england jane austen love heartbreak irenericha...
42208  False  ...   joannadavid ciaranmadden davidgiles  p r o d ...

[4 rows x 21 columns]

In [0]:
get_recommendations('Avatar',movie)

26774                                             Avatar 2
4723                                             SpaceCamp
23948                              Guardians of the Galaxy
42655                         Rogue One: A Star Wars Story
7520                             Babylon 5: A Call to Arms
45385                                       Crash of Moons
8725                    Journey to the Far Side of the Sun
23939    Gunbuster vs Diebuster Aim for the Top! The GA...
26694                                             Stranded
13348                   War of the Worlds 2: The Next Wave
Name: title, dtype: object

## User-Item Collabarative Filtering

In [0]:
#genome_tags = pd.read_csv('/content/drive/My Drive/genome-tags.csv')
#genome_scores = pd.read_csv('/content/drive/My Drive/genome-scores.csv')
#links = pd.read_csv('/content/drive/My Drive/links.csv')
#movies = pd.read_csv('/content/drive/My Drive/movies.csv')
ratings = pd.read_csv('/content/drive/My Drive/ratings.csv')
#tags = pd.read_csv('/content/drive/My Drive/tags.csv')

In [0]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [0]:
user_index = pd.unique(ratings['userId'])
user_index = pd.DataFrame(user_index, columns=['userId'])
user_index['user_index'] = user_index.index
user_index.head()

   userId  user_index
0       1           0
1       2           1
2       3           2
3       4           3
4       5           4

In [0]:
movie_index = pd.unique(ratings['movieId'])
movie_index = pd.DataFrame(movie_index,columns = ['movieId'])
movie_index['movie_index'] = movie_index.index
movie_index.head()

   movieId  movie_index
0      307            0
1      481            1
2     1091            2
3     1257            3
4     1449            4

In [0]:
data = ratings.merge(user_index, on='userId')
data = data.merge(movie_index, on='movieId')

Mean = ratings.groupby(by="userId",as_index=False)['rating'].mean()
data = pd.merge(data,Mean,on='userId')
data['adg_rating']=data['rating_x']-data['rating_y']
data.head()

   userId  movieId  rating_x  ...  movie_index  rating_y  adg_rating
0       1      307       3.5  ...            0    3.3125      0.1875
1       1      481       3.5  ...            1    3.3125      0.1875
2       1     1091       1.5  ...            2    3.3125     -1.8125
3       1     1257       4.5  ...            3    3.3125      1.1875
4       1     1449       4.5  ...            4    3.3125      1.1875

[5 rows x 8 columns]

In [0]:
utility_csr = csr_matrix((data.adg_rating, (data.user_index.values, data.movie_index.values)))

In [0]:
def get_jaccard(A,B):
  if A.shape[1] != B.shape[1]:
    return print("error, check dimension")
  else:
    upper = sum(np.minimum(A, B))
    lower = sum(np.maximum(A, B))
    return upper/lower

In [0]:
def get_top_J_similarity(user_idx, n, m_csr):
  
  length = m_csr.shape[0]
  output = np.zeros(length)
  user_np = m_csr[user_idx,:]

  for i in range(length):
    output[i] = jaccard_score(user_np, m_csr[i,:])
  
  #return index of user with top jaccard simialrity
  return output.argsort()[-n:][::-1]

In [0]:
get_top_J_similarity(1, 10, utility_csr)

TypeError: ignored

In [0]:
#try this function, works in my notebook
def get_top_J_similarity(user_idx, n, m_csr):
    length = m_csr.shape[0]
    output = np.zeros(length)
    
    
   
    user_np = utility_csr.getrow(user_idx).toarray().sum(axis=0)
  

    for i in range(length):
        output[i] = get_jaccard(user_np, utility_csr.getrow(i).toarray().sum(axis=0))
  
  #return index of user with top jaccard simialrity
    return output.argsort()[-n:][::-1]

### Cosine similarity

In [0]:
utility_csr.shape[0]

NameError: ignored

In [0]:
# Function that takes in movie title as input and outputs most similar movies
def get_similar_users(user_id,df):
    #Construct the csr matrix 
    utility_csr = csr_matrix((df.adg_rating, (df.user_index.values, df.movie_index.values)))
    print(utility_csr.shape[0])
    j_score = []
    #for i in range(283228):
    score = jaccard_score(utility_csr[user_id,:],utility_csr[2,:])
    print(score)
    # Get the pairwsie similarity scores of all users with that user
    sim_scores = list(enumerate(jaccard_score))
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]
    # Get the similar user indices
    user_indices = [i[0] for i in sim_scores]
    # Return the top 10 most similar user_index
    return user_indices

In [0]:
def get_user_similar_movies( user1, user2,df ):
    movies = pd.read_csv('/content/drive/My Drive/movies.csv')
    common_movies = df[df.user_index == user1].merge(
    df[df.user_index == user2],on = "movieId" )
    common_movies = common_movies.merge(movies,on = 'movieId')

    return common_movies.loc[ : , ['rating_x_x','rating_x_y','title']]

In [0]:
get_similar_users(370,data)

283228

TypeError: ignored

In [0]:
get_user_similar_movies(370,33035,data)

   rating_x_x  rating_x_y               title
0         1.0         4.0  Matrix, The (1999)
1         5.0         5.0         Coco (2017)

## Deep Learning Model

In [0]:
def CFModel(input_p,input_q,n_users, m_items, k_factors):
    # P is the embedding layer that creates an User by latent factors matrix.
    # If the intput is a user_id, P returns the latent factor vector for that user.
    P = Embedding(n_users, k_factors, input_length=1)(input_p)
    P = Reshape((k_factors,))(P)

    # Q is the embedding layer that creates a Movie by latent factors matrix.
    # If the input is a movie_id, Q returns the latent factor vector for that movie.
    Q = Embedding(m_items, k_factors, input_length=1)(input_q)
    Q = Reshape((k_factors,))(Q)
    
    # The Merge layer takes the dot product of user and movie latent factor vectors to return the corresponding rating.   
    output  = dot([P, Q], axes =1)
    return output

In [0]:
# Reading ratings file
ratings = pd.read_csv('/content/drive/My Drive/ratings.csv')
max_userid = ratings['userId'].drop_duplicates().max()
max_movieid = ratings['movieId'].drop_duplicates().max()

In [0]:
ratings_downsample = ratings[ratings['userId'] % 80 ==0]

In [0]:
# Create training set
shuffled_ratings = ratings_downsample.sample(frac=1., random_state=1002)

# Shuffling users
Users = shuffled_ratings['userId'].values
print ('Users:', Users, ', shape =', Users.shape)

# Shuffling movies
Movies = shuffled_ratings['movieId'].values
print ('Movies:', Movies, ', shape =', Movies.shape)

# Shuffling ratings
Ratings = shuffled_ratings['rating'].values
print ('Ratings:', Ratings, ', shape =', Ratings.shape)

Users: [117680  22560 228320 ...  52480 265920 274800] , shape = (364602,)
Movies: [114662   3543   4718 ...  96079  45503     16] , shape = (364602,)
Ratings: [3.5 3.  3.  ... 3.  3.5 4. ] , shape = (364602,)

In [0]:
# Define constants
K_FACTORS = 100 # The number of dimensional embeddings for movies and users
TEST_USER = 6400 # A random test user (user_id = 1500)

In [0]:
# Define model
input_p = Input(shape = (1,)) 
input_q = Input(shape = (1,)) 
output = CFModel(input_p,input_q,max_userid, max_movieid, K_FACTORS)
model = keras.Model([input_p,input_q],output)
# Compile the model using MSE as the loss function and the AdaMax learning algorithm
model.compile(loss='mse', optimizer='adamax')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [0]:
# Callbacks monitor the validation loss
# Save the model weights each time the validation loss has improved
callbacks = [EarlyStopping('val_loss', patience=5), 
             ModelCheckpoint('/content/drive/My Drive/weights.h5', save_best_only=True)]

# Use 30 epochs, 90% training data, 10% validation data 
history = model.fit([Users, Movies], Ratings, epochs=30, validation_split=.2, verbose=2, callbacks=callbacks)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 291681 samples, validate on 72921 samples
Epoch 1/30
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

 - 397s - loss: 12.4773 - val_loss: 9.1565
Epoch 2/30
 - 396s - loss: 5.9907 - val_loss: 4.1702
Epoch 3/30
 - 396s - loss: 3.2491 - val_loss: 2.7741
Epoch 4/30
 - 397s - loss: 2.3030 - val_loss: 2.1740
Epoch 5/30
 - 396s - loss: 1.8415 - val_loss: 1.8475
Epoch 6/30
 - 396s - loss: 1.5699 - val_loss: 1.6420
Epoch 7/30
 - 396s - loss: 1.3877 - val_loss: 1.5018
Epoch 8/30
 - 396s - loss: 1.2558 - val_loss: 1.4008
Epoch 9/30
 - 396s - loss: 1.1547 - val_loss: 1.3254
Epoch 10/30
 - 396s - loss: 1.0744 - val_loss: 1.2672
Epoch 11/30
 - 395s - loss: 1.0079 - val_loss: 1.2218
Epoch 12/30
 - 396s - loss: 0.9514 - val_loss: 1.1866
Epoch 13/30
 - 395s - loss: 0.9020 - val_loss: 1.1580
Epoch 14/30
 - 396s - loss: 0.8579 - val_loss: 1.1339
Epoch 15/30
 - 396s - loss: 0.8179 - val_loss: 1.1130
Epoch 16/30
 - 396s - loss: 0.7804 - val_loss: 1.0966
Epoch 17/30
 - 396s - loss: 0.7462 - val_loss: 1.0822
Epoch 18/30
 - 396s - loss: 0.7135 - val_loss: 1.0715
Epoch 19/30
 - 396s - loss: 0.6829 - val_loss: 1.0610
Epoch 20/30
 - 396s - loss: 0.6536 - val_loss: 1.0522
Epoch 21/30
 - 395s - loss: 0.6255 - val_loss: 1.0467
Epoch 22/30
 - 396s - loss: 0.5988 - val_loss: 1.0402
Epoch 23/30
 - 396s - loss: 0.5731 - val_loss: 1.0356
Epoch 24/30
 - 396s - loss: 0.5480 - val_loss: 1.0319
Epoch 25/30
 - 396s - loss: 0.5240 - val_loss: 1.0301
Epoch 26/30
 - 396s - loss: 0.5006 - val_loss: 1.0292
Epoch 27/30
 - 396s - loss: 0.4786 - val_loss: 1.0279
Epoch 28/30
 - 396s - loss: 0.4571 - val_loss: 1.0281
Epoch 29/30
 - 396s - loss: 0.4363 - val_loss: 1.0295
Epoch 30/30
 - 396s - loss: 0.4163 - val_loss: 1.0309

In [0]:
# The rate function to predict user's rating of unrated items
def rate(user_id, item_id):
    return .predict([np.array([user_id]), np.array([item_id])])[0][0]

In [0]:
model.predict([[1500],[362]])

array([[2.5149899]], dtype=float32)

In [0]:
user_ratings = ratings[ratings['userId'] == TEST_USER][['userId', 'movieId', 'rating']]
user_ratings['predicted_rating'] = user_ratings.apply(lambda x: model.predict([[TEST_USER], [x['movieId']]]).flatten().flatten(), axis=1)

In [0]:
user_ratings

        userId  movieId  rating predicted_rating
151415    1500       60     0.5       [2.157028]
151416    1500      107     3.0      [2.4973726]
151417    1500      303     3.5      [2.3923533]
151418    1500      362     3.0      [2.5149899]
151419    1500      637     3.5        [2.09068]
151420    1500     1037     0.5      [2.0113392]
151421    1500     2826     4.0      [2.4777238]
151422    1500     2872     0.5       [2.354858]
151423    1500     3107     2.0      [2.3406978]
151424    1500     3174     5.0      [2.5547493]
151425    1500     3300     3.0      [2.5867393]
151426    1500     3624     3.0      [2.3536751]
151427    1500     3826     0.5      [1.4816306]
151428    1500     3863     3.0       [2.323998]
151429    1500     4002     2.0      [2.7072015]
151430    1500     4643     0.5      [2.1824229]

## SVD

In [0]:
import pandas as pd
import numpy as np
# Reading ratings file
ratings = pd.read_csv('ratings.csv', sep='\t', encoding='latin-1', usecols=['user_id', 'movie_id', 'rating', 'timestamp'])

# Reading users file
users = pd.read_csv('users.csv', sep='\t', encoding='latin-1', usecols=['user_id', 'gender', 'zipcode', 'age_desc', 'occ_desc'])

# Reading movies file
movies = pd.read_csv('movie_dataset.csv')
movies = movies.rename(columns={"id": "movie_id", "genres": "genres","title":"title"})
movies = movies[['movie_id','genres','title']]

In [0]:
n_users = ratings.user_id.unique().shape[0]
n_movies = ratings.movie_id.unique().shape[0]

In [0]:
Ratings = ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0)

In [0]:
R = Ratings.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [0]:
sparsity = round(1.0 - len(ratings) / float(n_users * n_movies), 3)

In [0]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(Ratings_demeaned, k = 50)

In [0]:
sigma = np.diag(sigma)

In [0]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [0]:
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)
preds.head()

movie_id      1         2         3     ...      3950      3951      3952
0         4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1         0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2         1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3         0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4         1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [0]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.user_id == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movie_id', right_on = 'movie_id').
                     sort_values(['rating'], ascending=False)
                 )

    #print 'User {0} has already rated {1} movies.'.format(userID, user_full.shape[0])
    #print 'Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations)
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['movie_id'].isin(user_full['movie_id'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movie_id',
               right_on = 'movie_id').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [0]:
already_rated, predictions = recommend_movies(preds, 1310, movies, ratings, 20)

In [0]:
# Top 20 movies that User 1310 has rated 
already_rated.head(50).dropna()

    user_id  ...                      title
6      1310  ...        Armed and Dangerous
7      1310  ...       Flags of Our Fathers
12     1310  ...        I Love You to Death
20     1310  ...  Aguirre: The Wrath of God
18     1310  ...                    Frances
13     1310  ...             A Star Is Born
16     1310  ...            Wings of Desire
0      1310  ...      The Harrad Experiment
14     1310  ...                      Prime
22     1310  ...       The Thirteenth Floor

[10 rows x 6 columns]

In [0]:
ratings[ratings['user_id'] == 1310]

        user_id  movie_id  rating  timestamp
215928     1310      2988       3  974781935
215929     1310      1293       5  974781839
215930     1310      1295       2  974782001
215931     1310      1299       4  974781701
215932     1310      2243       4  974782001
215933     1310      2248       5  974781573
215934     1310      2620       5  974781573
215935     1310      3683       5  974781935
215936     1310      3685       4  974781935
215937     1310      1185       4  974781839
215938     1310      1196       4  974781701
215939     1310      1343       4  974781534
215940     1310      3101       4  974781573
215941     1310      3111       4  974782001
215942     1310      2313       2  974781839
215943     1310      1704       5  974781573
215944     1310       144       3  974781573
215945     1310      3360       4  974781935
215946     1310      3526       4  974781892
215947     1310      1960       3  974782001
215948     1310      2000       4  974781892
215949     1310      1231       2  974781963
215950     1310      1090       2  974781839
215951     1310      1097       4  974781534

In [0]:
predictions

       movie_id  ...                                          title
13548      1961  ...                               My Name Is Bruce
11546      1246  ...                                   Rocky Balboa
5297       1957  ...                                         Enough
2911       2020  ...                                   The Bachelor
11581      1259  ...                             Notes on a Scandal
6089       1956  ...                                          Gerry
3579        541  ...                    The Man with the Golden Arm
12423      2312  ...  In the Name of the King: A Dungeon Siege Tale
11455      1124  ...                                   The Prestige
952         260  ...                                   The 39 Steps
4438       3543  ...                                    Bagdad Cafe
4043        318  ...                       The Million Dollar Hotel
1420       1968  ...                                  Fools Rush In
11832      1272  ...                                       Sunshine
29863      3699  ...                    Seven Blood-Stained Orchids
3405        593  ...                                        Solaris
2219       1955  ...                               The Elephant Man
5520       1958  ...                                        8 Women
7671       3072  ...                           Frankenstein Unbound
14495      2973  ...                          Aelita: Queen of Mars

[20 rows x 3 columns]